.header {
  position: fixed;
  width: 100%;
  background-color: rgba(51, 255, 0, 0.295);
  top: 0;
  left: 0;
  z-index: 100;
  margin-top: 50px; }

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    background-color: var(--first-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 0rem 0 3rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(40, 39, 37, 0.15);
    transition: .4s; }
  .active {
    top: 0; } }

.nav_list {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  row-gap: 25px; }

.nav_link {
  color: bisque; }

.portal {
  margin-top: 50px;
  width: 100px;
  margin: 80px;
  display: inline-flex; }

.oculta {
  display: none; }

@media screen and (min-width: 310px) {
  .nav_celular {
    display: flex; } }

@media screen and (min-width: 767px) {
  .nav_celular {
    display: none; }
  .nav_list {
    flex-direction: row;
    column-gap: 80px;
    margin: 0; } }

@media screen and (min-width: 1024px) {
  .home_container {
    grid-template-columns: repeat(2, 1fr); } }
